<!-- ===================================================== -->
<!-- FOOTER                                                -->
<!-- ===================================================== -->
<footer class="footer">

  <div class="container footer-box">

    <div class="footer-brand">
      <a href="/index.html" class="footer-logo">
        <span>Portal</span> Professor Arlisson
      </a>

      <p>
        Plataforma educacional com materiais, exercícios, desafios e recursos
        para Física, Química e Matemática.
      </p>
    </div>

    <div class="footer-links-coluna">
      <h4>Navegação</h4>

      <a href="/index.html">Início</a>
      <a href="/materiais/materiais.html">Materiais</a>
      <a href="/biblioteca/biblioteca.html">Biblioteca</a>
      <a href="/avisos/avisos.html">Avisos</a>
    </div>

    <div class="footer-links-coluna">
      <h4>Informações</h4>

      <a href="/sobre/sobre.html">Sobre o projeto</a>
      <a href="/contato/contato.html">Contato</a>
      <a href="/politica-de-privacidade/politicadeprivacidade.html">
        Política de Privacidade
      </a>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 Portal do Professor Arlisson • Aprender transforma.
  </div>

</footer>